# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
shoe-shop/node_modules
shoe-shop-backend/node_modules
.env
shoe-shop/.env
shoe-shop-backend/.env
shoe-shop/dist
.DS_Store
Thumbs.db